/**   ==========================
              GENERAL
      ==========================    **/

body {
    padding: 0px;
    margin: 0px;
}

/**   ==========================
              NAVIGATION
      ==========================    **/

ul li {
    display: inline;
    text-decoration: none;
}